<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ form.get('title').value }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="onClickDismiss()">
        <span ion-text color="primary" showWhen="ios">Tanca</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="onClickSave()">
        <span ion-text color="primary" showWhen="ios">Edita</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" padding-vertical>
    <ion-list>
      <ion-item>
        <ion-label floating>Títol</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Descripció</ion-label>
        <ion-textarea rows="6" formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Data d'entrega (opcional)</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="deliveryDate"></ion-datetime>
      </ion-item>
      <button ion-button color="danger" block margin-top (click)="onClickDelete()">Elimina</button>
    </ion-list>
  </form>
</ion-content>
