<ion-content no-padding>
  <ion-list>
    <ion-list-header>{{ title }}</ion-list-header>
    <ng-container *ngIf="requests | async as requests">
      <ng-container *ngIf="requests.length > 0; else noItems">
        <a ion-item *ngFor="let request of requests" (click)="onClickItem(request.uuid)">
          <h2>{{ request.title }}</h2>
          <h3>{{ request.status | status }}</h3>
          <p>{{ request.description}}</p>
        </a>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>

<ng-template #noItems>
  <ion-item>
    <h2>{{ noResults }}</h2>
  </ion-item>
</ng-template>
